@model IEnumerable<PROG3050.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @{
                        var shippingAddress = "";
                        shippingAddress += $"{item.ShippingAddress.FirstName} {item.ShippingAddress.LastName}";
                        if (item.ShippingAddress.Unit != null)
                        {
                            shippingAddress += $", {item.ShippingAddress.Unit}";
                        }
                        shippingAddress += $", {item.ShippingAddress.Street}, {item.ShippingAddress.City}, {item.ShippingAddress.Province.ProvinceName}" +
                        $", {item.ShippingAddress.Province.Country.CountryName}, {item.ShippingAddress.PostalCode}, {item.ShippingAddress.PhoneNumber}";
                    }
                    @shippingAddress
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCost)
            </td>
            <td>
                    @{
                        if (item.Status == "Processed")
                        {
                            <a asp-action="Disapporve" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Disapprove</a> | 
                            <a asp-action="Shipping" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Shipping</a>
                        }
                        else if (item.Status == "Pending")
                        {
                            <a asp-action="Approve" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Approve</a> | 
                            <a asp-action="Shipping" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Shipping</a>
                        }
                        else{
                            <a asp-action="Approve" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Approve</a> | 
                            <a asp-action="Disapporve" asp-route-id="@item.OrderId" class="btn btn-success btn-sm">Disapprove</a>
                        }
                    }
                 | <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm">Details</a>
                 | <a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
