@model IEnumerable<PROG3050.Models.Order>

@{
    ViewData["Title"] = "Your Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                Shipping Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @{
                        string shippingAddress = "";
                        if (item.Unit.Length != 0)
                        {
                            shippingAddress = $"{item.Unit}, ";
                        }
                        shippingAddress += $"{item.Street}, {item.City}, {item.Province.ProvinceName}, {item.PostalCode}, {item.Province.Country.CountryName}";
                    }
                    @Html.DisplayFor(modelItem => shippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCost)
                </td>
                <td>
                    <a asp-action="UserOrder" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
