@using Microsoft.AspNetCore.Identity;
@model IEnumerable<PROG3050.Models.Review>
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <p>
        <a asp-action="Create">Create New Review</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <span class="text-warning">
                @for (var i = 0; i < item.Rating; i++)
                {
                    <i class="fas fa-star"></i>
                }
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
{           
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-primary btn-sm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
