@using PROG3050.Models;
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PreferenceNavClass(ViewContext)" id="preference" asp-page="./Preference">Preference</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.MailingAddressNavClass(ViewContext)" id="address" asp-page="./MailingAddress">Mailing Address</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CreditCardNavClass(ViewContext)" id="credit-card" asp-page="./CreditCard">Credit Card</a></li>
</ul>
