@* @model IEnumerable<PROG3050.Models.Game>
 *@

@model PROG3050.ViewModel.GameViewModel

@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Games</h1>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
<p>
    <a asp-action="Create">Create a Game</a>
</p>
    }
    <div>
        <div>
            <form method="get" asp-controller="Games" asp-action="Search" class="input-group mb-3">
                <input id="input-search" class="form-control" placeholder="Search Game Title" asp-for="Title">
                <button id="search-submit" class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </form>
        </div>
        @if (Model != null)
        {
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            @if (Model.Games != null && Model.Games.Any())
            {
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Games.First().Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Games.First().Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Games.First().PublishDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Games.First().GameCategory)
                                </th>
                                <th>
                                    Ratings
                                </th>
                                <th>
                                    Actions
                                </th>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PublishDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GameCategory.GameCategoryName)
                                    </td>
                                    <td>
                                        @if (item.Reviews != null) 
                                        {
                                            if (item.Reviews.Count() > 0)
                                            {
                                                var processedReviews = item.Reviews.Where(r => r.Status != "Pending").ToList();
                                                if (processedReviews.Count() > 0)
                                                {
                                                    <span class="text-warning">
                                                    @for (var i = 0; i < Math.Round(processedReviews.Average(r => r.Rating), MidpointRounding.ToEven); i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                    </span>
                                                }
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.GameId">Details</a>

                                        @if (!Model.UserWishlistGameIds.Contains(item.GameId))
                                        {
                                            <input type="button" class="btn btn-success add-to-wishlist" value="Add to Wishlist" data-game-id="@item.GameId" />
                                        }
                                    </td>
                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".add-to-wishlist").click(function (event) {
                event.preventDefault(); 
                event.stopPropagation(); 

                var gameId = $(this).data("game-id");
                var button = $(this);

                $.post("/Wishlist/AddToWishlist", { gameId: gameId }, function (data) {
                    if (data.success) {
                        button.hide();
                    } else {
                        alert(data.message);
                    }
                });
            });
        });
    </script>
}