@model PROG3050.ViewModel.EventViewModel

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Events</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                StartDateTime
            </th>
            <th>
                EndDateTime
            </th>
            <th>
                Action
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @{
                        string action = "RegisterEvent";
                        string color = "btn btn-success";

                        if (item.EventUsers.Any(x => x.UserId == Model.CurrentUserId))
                        {
                            action = "CancelEvent";
                            color = "btn btn-danger";
                        }

                        <form asp-action=@action>
                            <input type="hidden" asp-for="@item.EventId" />
                            <input type="hidden" asp-for="@Model.SelectedEvent.EventId" value="@item.EventId" />
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.EventId">Details</a>
                            <input type="submit" id="@($"{action}{item.EventId}")" class="@color" value=@action />
                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                            }
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
